* {
    margin: 0;
    padding: auto;
}

.card {
    background-color: rgb(255, 255, 255);
    width: 25rem;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-style: italic;
    color: rgb(121, 121, 121);
}

.custom-button {
    width: 25rem;
}


@media screen and (max-width: 435px) {
    .card{
        max-width: 15rem;
    } 
    .custom-button {
        width: 15rem;
    }
}