<section  class="container py-5">

<div class="text-center mt-5">
    <h2 class="display-5 fw-bold ">Consuming APIs with <span class="home-title">Angular</span> HttpClient</h2>
  
</div>


<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-xl-8">
            <div class="card">
                <img src="../assets/httpclient.webp" class="card-img-top" alt="Visión de nuestro pet shop">
                <div class="card-body text-center text-padding">
                    <h3 class="card-title">HTTP Client</h3>
                    <p class="card-text text-secondary fst-italic fw-normal">The HttpClient module in Angular is utilized for making HTTP 
                        requests from an application to a server. It can be employed to fetch data (via GET requests), send data (via POST requests), 
                        update data (via PUT requests), or delete data (via DELETE requests).</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>