<section  class="container py-5">

<div class="text-center mt-5">
    <h2 class="display-5 fw-bold">Consumo de API con HTTPClient</h2>
  
</div>


<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-xl-8">
            <div class="card">
                <img src="../assets/httpclient.webp" class="card-img-top" alt="Visión de nuestro pet shop">
                <div class="card-body text-center text-padding">
                    <h3 class="card-title">HTTP Client</h3>
                    <p class="card-text text-secondary fst-italic fw-normal">El módulo HttpClient en Angular se utiliza para realizar 
                        solicitudes HTTP desde una aplicación hacia un servidor. Puedes usarlo para obtener datos (mediante solicitudes GET), 
                        enviar datos (mediante solicitudes POST),actualizar datos (mediante solicitudes PUT) o eliminar datos (mediante solicitudes DELETE).</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>